body{background-color: #274555;}
.newbody{
  padding: 50px 50px 0 50px;
  font: 14px  'Raleway',"Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  background-color: #274555;
  height: 100vh;

}
a {
  color: #00B7FF;
}

.box{
  background-color:#fdc23e ;
  box-shadow: 2px 2px 5px 0px black;
  margin:1em;
  padding: 1em;
  font-family: Helvetica, 'Lucida Grande', sans-serif;
  min-width: 250px; max-width: 600px;
  max-height: 300px;
  transition: 3s;
}
.box:nth-child(2) ul{
  box-shadow: 0px 1px 0 0 #343838;
  margin: 1em;
}
.box:nth-child(2){
  overflow: auto;
}
.box:nth-child(2):hover{
  max-height: 80vh;
  transition-timing-function: ease-in-out;
  margin-bottom: 0;

}
.box:nth-child(3){
  overflow: auto;
}
.box:nth-child(3):hover{
  max-height: 800px;
  transition-timing-function: ease-in-out;
  margin-bottom: 0;
}
.procura {
  background-color: #ff7761;
  padding: 0em;
  min-height: 50px;
}

.header{
  display: flex;
  background-color: #f9a11b;
  padding: 0;
  margin: 0;
}
.block{
  display: block;
}
.footer{
  background-color: #343838;
  margin: 0;
}
footer{
  background-color: #343838;
}
