<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/stylegenius.css' />
  <script type="text/javascript" src="/javascripts/geniusgame.js" /></script>
  <meta name="viewport" content="width=device-width, inicial-scale=1.0" =>
</head>
<body>

<div class="console">
  <h3 class="ramon"><a href='/'>Home</a></h3>
  <h1>Genius.</h1>
  <div class="score">
      <form method="POST" action="/genius/ranking/" onsubmit="return ranking()" >
      <h3>Score :<div id ='pontos' name='pontos'> 0 </div> </h3>
      <input type="hidden" name="score" id="score" /> <!--  Colocar type=hidden, e usar javascript para mudar o valor-->
      <input type="text" name="nome" value='nome' />
      <input type="submit" value="Enviar" class='comecar' />

    </form>
     <button class='comecar' onclick='comecarjogo()'> Começar! </button>
   </div>
      <div class='container'>

      <div class='botao amarelo' name='amarelo' onclick='inserir(1)'>     </div>
      <div class='botao vermelho'  name='vermelho' onclick='inserir(2)'>  </div>
      <div class='botao azul' name='azul' onclick='inserir(3)'>           </div>
      <div class='botao roxo' name='roxo'onclick='inserir(4)'>            </div>

  </div>

</div>
<div class="ranking console">
  <h3>Ranking</h3>
  <div class="ranking_wrapper">


  <div class='ranking_box' >
    <% for(i=0;i<20;i++){ %>
      <li> <%=i+1%> - <%= lista[i].nome %></li>
      <% } %>
  </div>
  <div class='ranking_box'>
        <% for(i=0;i<20;i++){ %>
          <li> <%= lista[i].pontos %> pontos.</li>
          <% } %>
  </div>
  </div>
</div>
</body>

</html>
